---
import HeaderButton from './HeaderButton.astro'
import HeaderIcon from './HeaderIcon.astro'
import AppIcon from '@assets/icon.svg'
import { rocketIconPaths, aboutIconPaths, sofaIconPaths, alignIconPaths } from '@utils/icon-paths'
---

<header class="max-w-screen mx-auto px-4 py-4 md:px-8">
  <nav class="flex w-full flex-col items-center justify-between md:flex-row">
    <HeaderButton path="/" icon>
      <img src={AppIcon.src} alt="App Icon" class="h-12 w-12" />
    </HeaderButton>
    <div class="flex flex-row flex-wrap justify-center py-2">
      <HeaderButton path="/posts/post-1">
        <HeaderIcon slot="before" paths={rocketIconPaths} />
        Post 1
      </HeaderButton>
      <HeaderButton path="/posts/post-2">
        <HeaderIcon slot="before" paths={aboutIconPaths} />
        Post 2
      </HeaderButton>
      <HeaderButton path="/posts/post-3">
        <HeaderIcon slot="before" paths={sofaIconPaths} />
        Post 3
      </HeaderButton>
      <HeaderButton path="/posts/post-4">
        <HeaderIcon slot="before" paths={alignIconPaths} />
        Post 4
      </HeaderButton>
    </div>
  </nav>
</header>
